<div class="container">
  <h1 class="title">Coworking spaces</h1>
  <h2 class="content">Hello <span><%=@order.name%></span>,</h2>
  <p>Thank you for trusting and using our website.</p>
  <p>We are accepted your reverse</p>
  <p>Please check in from <%=@order.time_start%> to <%=@order.time_end%></p>
  <p>Hope you are satisfied when using our website.</p>
  <p>Thanks</p>
</div>
