<div class="container">
  <h1 class="title">Coworking spaces</h1>
  <h2 class="content">Hello <span><%=@order.name%></span>,</h2>
  <p>Thank you for trusting and using our website.</p>
  <p>We are so sorry because we have to Decline you request</p>
  <p>This room had been reversed before, so we cannot accept you request</p>
  <p>We're so sorry. Hope we can meet you again.</p>
  <p>Hope you are satisfied when using our website.</p>
  <p>Thanks</p>
</div>
