<div class="container">
  <h1 class="title">Coworking spaces</h1>
  <h2 class="content">Hello <span><%=@user.username%></span>
  <h3><span><%= @user.confirm_token%></span> is your code to confirm your account.</h3>
</div>
