<div class="container">
  <h1 class="title">Coworking spaces</h1>
  <h2 class="content">Hello <span><%=@user.username%></span>,</h2>
  <p>Thank you for trusting and using our website.</p>
  <p><span><%= @user.confirm_token%></span> is your code to confirm your account.</p>
  <p>Hope you are satisfied when using our website.</p>
  <p>Thanks</p>
</div>
